{{outlet}}
<div class="profile">
  <div class="profile__inner">

    <div class="forum__card forum__nav">
      <div class="forum__container--input">
        <div class="box-2">
          <h1 class="form__sub space-half">Top</h1>
          <h1 class="form__sub space-half">Recent</h1>
          <h1 class="form__sub space-half">Categories</h1>
          <h1 class="form__sub space-half">Liked</h1>
        </div>
      </div>
    </div>

    <div class="forum__card forum__main">
      <div class="forum__container--input profile__big">
        <div class="box-2 profile__top">
          <h1 class="global__h3 forum__title">Quick question with Sketch</h1>
        </div>

        <div class="forum__card forum__post">
          <div class="forum__post__inner">
            <div class="display">
              <div class="img__box">
                <img src="/images/forum/peter.jpg" alt="" class="forum__card--img">
              </div>
              <div class="forum__post--top">
                <div class="forum__post--user">
                  <p class="post__text--name">Peter Court</p>
                  <p class="post__text--username">@ptcrt</p>
                </div>
                <p class="post__text--date">Posted August 25</p>
              </div>
            </div>
            <div class="line-1"></div>
            <div class="post__text--box">
              <p class="post__text">Anyone know if it's possible to put modules in subfolders? I've tried a few variations and tried poking through GitHub to find out how require is parsing paths, but couldn't find anything.</p>
            </div>
          </div>
        </div>

        <div class="forum__card forum__post">
          <div class="forum__post__inner">
            <div class="display">
              <div class="img__box">
                <img src="/images/forum/katie.png" alt="" class="forum__card--img">
              </div>
              <div class="forum__post--top">
                <div class="forum__post--user">
                  <p class="post__text--name">Katie Lentile</p>
                  <p class="post__text--username">@celentile</p>
                </div>
                <p class="post__text--date">Posted August 25</p>
              </div>
            </div>
            <div class="line-1"></div>
            <div class="post__text--box">
              <p class="post__text">Anyone know if it's possible to put modules in subfolders? I've tried a few variations and tried poking through GitHub to find out how require is parsing paths, but couldn't find anything.</p>
            </div>
          </div>
        </div>






      </div>
    </div>
  </div>
</div>
