{{outlet}}
<div class="forum">
  <div class="forum__inner">

    <div class="forum__card forum__nav">
      <div class="forum__nav--inner">
        {{input class="global__input" type="text" name="name" placeholder="Search"}}
        <div class="">
          <h1 class="forum__nav--item">Top Posts</h1>
          <h1 class="forum__nav--item">Recent Posts</h1>
          <h1 class="forum__nav--item">Categories</h1>
          <h1 class="forum__nav--item">Liked</h1>
          <h1 class="forum__nav--item">Jobs</h1>
        </div>
      </div>
    </div>

    <div class="forum__card forum__main">
      <div class="forum__main--inner">
        <div class="forum__main--top">
          <h1 class="global__h3 forum__post--title">Today's Top Discussions</h1>
          {{#link-to 'forum' class="cancel-btn" }}New Post{{/link-to}}
        </div>

        <div class="forum__post">
          <div class="forum__post--inner">
            <div class="forum__post--group">
              <div class="forum__post--left">
                <div class="forum__post--img--box">
                  <img src="/images/forum/C.png" alt="" class="forum__post--img">
                </div>
                <div class="forum__post--user">
                  <p class="forum__post--name">Cale Glendening</p>
                </div>
              </div>
              <div class="forum__post--middle">
                {{#link-to 'forum.thread' 1 class="forum__post--question" }}Does anyone have a connection at Google?{{/link-to}}
              </div>
              <div class="forum__post--right">
                <p class="forum__post--comment">Posted August 25</p>
              </div>
              <div class="forum__post--heart">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </div>
            </div>
            {{#simple-form onsubmit=(action "addComment") as |inputs| }}
              <div class="forum__post">
                <div class="">
                  {{textarea class="global__textarea" type="text" name="name" value=inputs.educationalBackground placeholder="Add a comment"}}
                </div>
                <div class="">
                  <button class="submit-btn" type="submit" name="button">Post Comment</button>
                </div>
              </div>
            {{/simple-form}}
          </div>
        </div>

        <div class="forum__post">
          <div class="forum__post--inner">
            <div class="forum__post--group">
              <div class="forum__post--left">
                <div class="forum__post--img--box">
                  <img src="/images/forum/J.png" alt="" class="forum__post--img">
                </div>
                <div class="forum__post--user">
                  <p class="forum__post--name">Jeremy Browning</p>
                </div>
              </div>
              <div class="forum__post--middle">
                {{#link-to 'forum.thread' 1 class="forum__post--question" }}I'm a designer in the NYC office, let me know what you need!{{/link-to}}
              </div>
              <div class="forum__post--right">
                <p class="forum__post--comment">Posted August 25</p>
              </div>
              <div class="forum__post--heart">
                <i class="fa fa-heart red" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
