@import 'global-helpers';
@import 'nav';
@import 'footer';
@import 'login';
@import 'home';



// Bulma Custom CSS

@import 'sass/utilities/utilities';
// @import 'sass/base/generic';

// Double container
@import 'sass/base/classes';
// @import 'sass/elements/elements';
// @import 'sass/components/components';

// Grid
@import 'sass/components/grid';
// Section
@import 'sass/layout/section';

// @import 'sass/layout/layout';


.brand__square--one {
  width: 2rem;
  background: #F8F8F8;
}
.brand__square--two {
  width: 2rem;
  background: #F1F1F1;
}
.brand__square--three {
  width: 2rem;
  background: #F8F8F8;
}
.brand__square--four {
  width: 2rem;
  background: #F8F8F8;
}
