.footer {
  background: $grey-three;

  &__inner {
    padding: 1em;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__item {
    font-weight: 400;
    font-size: 18px;
    color: $grey-four;
    }
}
