.footer {
  background: $grey-two;

  &__inner {
    padding: 1em;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    color: $grey-four;
    }
}
