.together {
  margin: 0 auto;
}


.forum__card {

}

.forum__main {
  min-width: 70rem;
}

.forum__card--post {
  background: $grey-one;
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 4px;
  margin: 0 auto;
  margin: 1rem;
}

.forum__card--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.forum__card--img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.profile__top {

}

.forum__title {
  font-weight: 700;
}

.forum__nav {
  background: transparent;
  min-width: 15rem;
}
