.together {
  margin: 0 auto;
}


.forum__card {
  background: $white;
}

.forum__main {
  min-width: 70rem;
}

.forum__card--post {
  background: $grey-one;
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 4px;
  margin: 0 auto;
  margin: 1rem;
}

.forum__card--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.forum__card--img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.profile__top {

}

.forum__title {
  font-weight: 700;
}

.forum__nav {
  background: transparent;
  min-width: 15rem;
}

.forum__post--top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.forum__post--user {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.display {
  display: flex;
  padding: 1rem 0;
}

.forum__container--input {
padding: 2rem 1rem;
border-radius: 4px;
margin: 0 1rem;
}

.line-1 {
  background: $grey-one;
  padding: 1px 0;
}

.post__text--box {
  padding: 2rem 0;
}

.post__text--name {
  font-size: 20px;
}


.post__text--username {

}

.post__text--date {
  color: $grey-four;
}
