
// GLOBAL RESETS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // For now until I can get Calibre loaded in
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

// GLOBAL COLORS
$grey-one: #F8F8F8;
$grey-two: #F1F1F1;
$grey-three: #DDDDDD;
$grey-four: #BBBBBB;
$white: #FFFFFF;
$black: #000000;
$red: #FF5A5A;
$blue: #479CF7;
$green: #00DD61;


// Keeps the footer at the bottom
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site__content {
  flex: 1;
}


.column {
  margin: 0 auto;
}
