// BLOCKS
// block-one: 50% / 50% split (img on left)
// block-two: 100% text aligned center
// block-three: 50% / 50% split (img on right)
// block-four: 50% / 50% split (img full screen on left)
// block-five: 100% text aligned center (more padding)

// GLOBAL

.line {
  padding: 1rem 0;
  border-top: 5px solid $blue;
  max-width: 10rem;
}

.img__box {
  max-width: 35rem;
}

.hero__img {
  width: 100%;
}

// GLOBAL BLOCKS

.block {
  padding: 5rem 0;

  &__inner {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: pink;
  }

  &__left {
    width: 50%;
    padding: 1rem;
    min-width: 20rem;
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    min-width: 20rem;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
  }

  &__p {
    font-size: 20px;
  }
}

// BLOCK TWO

.two {
  background: $blue;
}

.block__content--two {
  padding: 15rem 0;
  width: 70%;
  margin: 0 auto;
}

.block__title--two {
  color: $white;
  font-size: 30px;
  text-align: center;
}

//  MEDIA Q's
@media screen and (min-width: 10rem) and (max-width: 40rem) {
  // MOBILE
  .block {
    padding: 1rem;
    &__content {
      justify-content: center;
    }
    &__title {
      font-size: 24px;
    }
    &__p {
      font-size: 16px;
    }
  }
}
@media screen and (min-width: 40rem) and (max-width: 60rem) {
  // TABLET
  .block {

    &__content {
      justify-content: center;
    }
  }

}
@media screen and (min-width: 60rem) and (max-width: 300rem) {
  // DESKTOP

}
