// GlOBAL NAV ------------------------------------------------------
.nav {
  background: $white;

  &__inner {
    width: 100%;
    padding-top: 2rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    max-width: 6rem;
    width: 100%;
  }
}

.logo__box {
  max-width: 10rem;
  min-width: 10rem;
}

.right__box {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  font-size: 24px;
  color: $black;
}

.nav-btn {
  max-width: 2rem;
}

.right-nav {
  display: flex;
  align-items: center;
}

.menu-btn {
  color: $grey-three;
  fill: currentColor;
}

.search--icon {
  color: $grey-four;
  fill: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

// GLOBAL SUB NAV ------------------------------------------------------

.sub__nav {
  background: $grey-one;
  -webkit-box-shadow: 0 8px 6px -6px $grey-two;
	   -moz-box-shadow: 0 8px 6px -6px $grey-two;
	        box-shadow: 0 8px 6px -6px $grey-two;

  &--inner {
    overflow: hidden;
  }

  &--content {
    padding: 0.75rem 0;
    height: 45px;
  }

  &--content--inner {
    display: flex;
    padding-bottom: 50px;
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  &--item {
    color: $grey-four;
    font-family: "soleil",sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-right: 2.5rem;
  }
  &--item:active {
    color: $black;
  }
  &--item:hover {
    color: $black;
  }
}

.add__nav {
background: $grey-one;
}

// SUB NAV TOGGLE ------------------------------------------------------
.sub__nav--off {
  display: none;
}
.add__nav--off {
  display: none;
}
