// GlOBAL NAV ------------------------------------------------------
.nav {
  background: $white;

  &__inner {
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    max-width: 7rem;
    width: 100%;
  }
}

.hamburger {
  font-size: 24px;
  color: $black;
}

.nav-btn {
  max-width: 2.5rem;
}

.right-nav {
  display: flex;
  align-items: center;
}

// GLOBAL SUB NAV ------------------------------------------------------

.sub__nav {
  background: $grey-one;
  -webkit-box-shadow: 0 8px 6px -6px $grey-one;
	   -moz-box-shadow: 0 8px 6px -6px $grey-one;
	        box-shadow: 0 8px 6px -6px $grey-one;

  &--inner {
    overflow: hidden;
  }

  &--content {
    padding: 0.75rem 0;
    height: 45px;
  }

  &--content--inner {
    display: flex;
    padding-bottom: 50px;
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  &--item {
    color: $grey-four;
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 3rem;
  }
  &--item:active {
    color: $black;
  }
  &--item:hover {
    color: $black;
  }
}

// SUB NAV TOGGLE ------------------------------------------------------
.sub__nav--off {
  // display: none;
}
