@media screen and (min-width: 5rem) and (max-width: 45rem) {
  // MOBILE
  // POST CARD
  .index__post {
    background: $white;
    border-bottom: 2px solid $grey-one;
  }

  .index__post--inner {
    padding: 0.75rem 0;
  }

  .index__post--wrapper {
    }
  // USER
  .img__box {
    padding-right: 1rem;
  }

  .user__img {
    object-fit: cover;
    border-radius: 50%;
    display: none;
  }

  .username {
    font-size: 13px;
    font-family: 'soleil',sans-serif;
    font-weight: 300;
    color: $black;
  }

  .username__box {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }

  .post__box {
    width: 100%;
  }

  .post__title {
    font-size: 14px;
    font-family: 'soleil',sans-serif;
    font-weight: 500;
    color: $black;
  }

  .second__line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .comment__box {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }

  .comment {
    color: $black;
    font-size: 13px;
    font-family: 'soleil',sans-serif;
    font-weight: 400;
  }

  .post__tit {
    font-size: 30px;
    width: 100%;
    font-family: 'soleil',sans-serif;
    font-weight: 600;
    color: $black;
  }

  .learning {
    font-size: 14px;
    font-family: 'soleil',sans-serif;
    font-weight: 300;
    color: $grey-four;
  }

  .group {
    display: flex;
  }

  .date {
    color: $grey-four;
    font-size: 13px;
    font-family: 'soleil',sans-serif;
    font-weight: 300;
    margin-left: 1rem;
  }

  .sort {
    display: flex;
    padding: 1rem 0;

    &--item {
      color: $grey-four;
      margin-right: 1rem;
    }

    &--item:hover {
      color: $black;
    }
  }

  .category__box {
    width: 20%;
    display: flex;
    align-items: center;
  }

  .category {
    border-radius: 50%;
    width: 0.60rem;
    height: 0.60rem;
    max-width: 0.60rem;
    max-height: 0.60rem;
    background: $red;
  }

  .delete {
    cursor: pointer;
  }

  .forum__inner {
    padding-top: 1rem;
  }

  .search--form {
    display: none;
  }

  .right__box {
    display: flex;
    justify-content: flex-end;
  }

  .nav-btn {
    margin-right: 0;
  }

  .img__box {
    display: none;
  }

  .mobile--search {
    color: $grey-four;
    fill: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .search__nav--off {
    display: none;
  }

  .search--form-m {
    width: 100%;
  }

  .search {
    padding: 1rem 0;
  }

  .search--icon {
    display: none;
  }

}
