.overlay {
  height: 100vh;
  width: 100%;
}

.overlay__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay__card--inner {
  background: $white;
  width: 25rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay__card--item {
  text-align: center;
}
