

.profile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__card {
  padding-bottom: 3rem;
}

.profile {
  &__title {
    text-align: center;
    font-weight: 700;
  }

  &__container--input {
    text-align: center;
    background: $white;
    border-radius: 4px;
  }

  &__container--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grey-one;
    border-radius: 0 0 4px 4px;
    padding: 2rem 0;
  }

  .login-items {
    justify-content: space-around;
  }

  &__sub {
    color: $grey-four;
    font-family: "soleil",sans-serif;
    font-size: 14px;
    padding: 1em 2em;
    font-weight: 300;
  }
  &__sub:hover {
    padding: 1em 2em;
    border: 0;
    outline: none;
    border-radius: 4px;
    background: rgba(221,221,221, 0.4);
    font-size: 14px;
    font-family: "soleil",sans-serif;
    font-weight: 300;
  }
}

.profile-input {
  margin: 1rem 0;
}

.profile-label {
  text-align: left;
  font-weight: 500;
  color: $black;
  font-size: 15px;
  font-family: "soleil",sans-serif;
}

.post__btn {
  display: flex;
  justify-content: flex-start;
}

//  MEDIA Q's
@media screen and (min-width: 10rem) and (max-width: 40rem) {
  // MOBILE
  .profile {
    &__card {
      margin: 1rem 0;
    }
    &__sub:hover {
      width: 23rem;
      text-align: center;
    }
  }
  .profile__container--btn {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 40rem) and (max-width: 60rem) {
  // TABLET
  .profile {
    &__card {
      margin: 2rem 0;
    }
  }
  .login {
    margin: 0 1rem;
  }
}
@media screen and (min-width: 60rem) and (max-width: 300rem) {
  // DESKTOP
  .profile {
    &__card {
      // margin: 3rem 0;
    }
  }
  .login {
    margin: 0 1rem;
  }
}


// NEW POST


.user__bubble {
  display: flex;
}
.user-btn {
  border: 0;
  background: #EEEEEE;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  font-family: "soleil",sans-serif;
  margin-right: 1rem;
  border-radius: 4px;
  outline: none;
  padding: 0.5rem 1rem;

  &--active,
  &:active,
  &:hover {
    background: $red;
    color: $white;
  }

  &:disabled {
    background: #EEEEEE;
    color: $black;
    opacity: 0.5;
  }

  &--active:disabled {
    background: $red;
    color: $white;
    opacity: 1;
  }
}
