@media screen and (min-width: 10rem) and (max-width: 40rem) {

  .background {
    background: rgba(71, 156, 247, 0.1);
    width: 100%;
    min-height: 100vh;
  }

  .form__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .form__input {
    &--inner {
      margin: 0 auto;
      max-width: 23rem;
    }

    &--card {
      margin-bottom: 1rem;
      padding-top: 4rem;
    }

    &--card--input {
      padding: 1rem;
      text-align: center;
      background: $white;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 0 0 1px rgba(241,241,241,0.1),0 7px 15px rgba(0,0,0,0.1);
    }

    &--card--input--item {
      outline: none;
      background: $grey-one;
      border: 0;
      color: $black;
      width: 100%;
      padding: 0.75rem 0;
      margin: 0.5rem 0;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 300;
      font-family: "soleil",sans-serif;
      padding-left: 1rem
    }

  }

  .form--btn {
    width: 100%;
    padding: 0.75rem 0;
    font-size: 14px;
  }


  .form--sub--container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    padding: 2rem 0;
    background: $grey-one;
    box-shadow: 0 0 0 1px rgba(241,241,241,0.1),0 7px 15px rgba(0,0,0,0.1);
  }


  .form--sub {
    color: $grey-four;
    font-size: 15px;
    padding: 0.75em 2em;
    font-family: "soleil",sans-serif;
  }
  .form--sub:hover {
    padding: 0.75em 2em;
    border: 0;
    outline: none;
    border-radius: 4px;
    background: rgba(221,221,221, 0.4);
    font-size: 15px;
    color: $black;
  }

  .form--title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
  }

  .login--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $grey-one;
    padding: 2rem 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 0 1px rgba(241,241,241,0.1),0 7px 15px rgba(0,0,0,0.1);
  }

}
