{{outlet}}
<div class="block">
  <div class="block__inner">
    <div class="block__content">
      <div class="block__left">
        <div class="img__box">
          <img src="./images/home/Tease.png" alt="" class="block__img">
        </div>
      </div>
      <div class="block__right">
        <div class="content__box">
          <div class="box__2">
            <h1 class="global__h1 block__title">We all start somewhere</h1>
          </div>
          <p class="global__h5">It’s the whole idea of banking, remade with lovely design, equally lovely tools to help you save (right inside your account), and genuine human goodness.</p>
          <div class="box__2">
            {{#link-to 'signup' class="cta-btn" }}Create an account{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block two">
  <div class="block__inner">
    <div class="block__content two__spacing">
      <h1 class="global__h3 block__sub">Junior was built out of a need for a less-stressful freelance life. Its goal is to provide better insight and awareness, so the roller coaster ride of freelancing feels smoother, with fewer surprises.</h1>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="block__content">
      <div class="block__left">
        <div class="content__box">
          <div class="box__2">
            <h1 class="global__h1 block__title">Connect with peers</h1>
          </div>
          <div class="line"></div>
          <p class="global__h5">It’s the whole idea of banking, remade with lovely design, equally lovely tools to help you save (right inside your account), and genuine human goodness.</p>
        </div>
      </div>
      <div class="block__right">
        <div class="img__box">
          <img src="./images/home/5.png" alt="" class="hero__img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="block__content">
      <div class="block__left">
        <div class="content__box">
          <div class="box__2">
            <h1 class="global__h1 block__title">Learn from mentors.</h1>
          </div>
          <div class="line"></div>
          <p class="global__h5">It’s the whole idea of banking, remade with lovely design, equally lovely tools to help you save (right inside your account), and genuine human goodness.</p>
        </div>
      </div>
      <div class="block__right">
        <div class="img__box">
          <img src="./images/home/5.png" alt="" class="hero__img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="block__content">
      <div class="block__left">
        <div class="content__box">
          <div class="box__2">
            <h1 class="global__h1 block__title">Easy to understand job listings.</h1>
          </div>
          <div class="line"></div>
          <p class="global__h5">It’s the whole idea of banking, remade with lovely design, equally lovely tools to help you save (right inside your account), and genuine human goodness.</p>
        </div>
      </div>
      <div class="block__right">
        <div class="img__box">
          <img src="./images/home/5.png" alt="" class="hero__img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block two">
  <div class="block__inner">
    <div class="block__content two__spacing">
      <h1 class="global__h3 block__sub">Junior was built out of a need for a less-stressful freelance life. Its goal is to provide better insight and awareness, so the roller coaster ride of freelancing feels smoother, with fewer surprises.</h1>
      <div class="box__2">
        {{#link-to 'signup' class="cta-btn" }}Create an account{{/link-to}}
      </div>
    </div>
  </div>
</div>
