{{!-- {{outlet}}
<div class="home">
  <div class="home__inner">
    <div class="block__content">
      <div class="block__left">
        <div class="img__box">
          <img src="./images/home/5.png" alt="" class="block__img">
        </div>
      </div>
      <div class="block__right">
        <div class="content__box">
          <div class="box__2">
            <h1 class="global__h1 block__title">We all start somewhere</h1>
          </div>
          <p class="global__h5">It’s the whole idea of banking, remade with lovely design, equally lovely tools to help you save (right inside your account), and genuine human goodness.</p>
          <div class="box__2">
            {{#link-to 'signup' class="cta-btn" }}Create an account{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block two">
  <div class="block__inner">
    <div class="block__content two__spacing">
      <h1 class="global__h3 block__sub">Junior was built out of a need for a less-stressful freelance life. Its goal is to provide better insight and awareness, so the roller coaster ride of freelancing feels smoother, with fewer surprises.</h1>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="block__content">
      <div class="block__left">
        <div class="content__box">
          <div class="box__2">
            <h1 class="global__h1 block__title">Connect with peers</h1>
          </div>
          <div class="line"></div>
          <p class="global__h5">It’s the whole idea of banking, remade with lovely design, equally lovely tools to help you save (right inside your account), and genuine human goodness.</p>
        </div>
      </div>
      <div class="block__right">
        <div class="img__box">
          <img src="./images/home/5.png" alt="" class="hero__img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="block__content">
      <div class="block__left">
        <div class="content__box">
          <div class="box__2">
            <h1 class="global__h1 block__title">Learn from mentors.</h1>
          </div>
          <div class="line"></div>
          <p class="global__h5">It’s the whole idea of banking, remade with lovely design, equally lovely tools to help you save (right inside your account), and genuine human goodness.</p>
        </div>
      </div>
      <div class="block__right">
        <div class="img__box">
          <img src="./images/home/5.png" alt="" class="hero__img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="block__content">
      <div class="block__left">
        <div class="content__box">
          <div class="box__2">
            <h1 class="global__h1 block__title">Easy to understand job listings.</h1>
          </div>
          <div class="line"></div>
          <p class="global__h5">It’s the whole idea of banking, remade with lovely design, equally lovely tools to help you save (right inside your account), and genuine human goodness.</p>
        </div>
      </div>
      <div class="block__right">
        <div class="img__box">
          <img src="./images/home/5.png" alt="" class="hero__img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block two">
  <div class="block__inner">
    <div class="block__content two__spacing">
      <h1 class="global__h3 block__sub">Junior was built out of a need for a less-stressful freelance life. Its goal is to provide better insight and awareness, so the roller coaster ride of freelancing feels smoother, with fewer surprises.</h1>
      <div class="box__2">
        {{#link-to 'signup' class="cta-btn" }}Create an account{{/link-to}}
      </div>
    </div>
  </div>
</div> --}}
<div class="background">
  <div class="column is-8">
<div class="home__input">
  <div class="form__box">
    {{#link-to "app.forum"}}<img src="/images/nav/wlogo.svg" class="nav__logo" alt="Junior Logo" />{{/link-to}}
  </div>
  <div class="home__content">
    <div class="home__content--inner">
      <div class="home__left">
        <div class="home__box">
          <img src="./images/home/3.png" alt="" class="home__img">
        </div>
      </div>
      <div class="home__right">
        <div class="content__box">
          <div class="box__2">
            <h1 class="home__title">We all start somewhere.</h1>
          </div>
          <p class="home__copy">The pressure to get beyond the junior years in your career is forcefully felt, we all understand. There is something icky about having "Junior" in your title.</p>
          <div class="box__1">
            <p class="home__copy">We are here to help you learn, grow and connect with other "junior" designers, developers, and product people because we believe there is something beautiful about being junior.</p>
          </div>
          <div class="box__3">
            {{#link-to 'signup' class="cta-btn" }}Get Started{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
