{{outlet}}
<div class="profile">
  <div class="profile__inner">
    {{#simple-form startingValues=model onsubmit=(action "addNewResource") class="profile__card" as |inputs|}}
        <div class="profile__container--input profile__small">
        <div class="profile-input">
          <p class="profile-label">Resource Name (140 character limit)</p>
          {{input class="global__input" type="text" name="name" value=inputs.title placeholder="Article Name, App etc."}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Resource Description</p>
          {{textarea class="global__textarea" type="text" name="name" value=inputs.description placeholder="Short description describing the resource"}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Tags (Use comma between tags)</p>
          {{input class="global__input" type="text" name="name" value=inputs.tagsString placeholder="Design, Dev, Startup etc."}}
        </div>
        <div class="box__2 post__btn">
          <button class="user-btn" type="submit" name="button">Post</button>
        </div>
      </div>
    {{/simple-form}}
</div>
</div>
