<div class="mobile__nav">
  <div class="mobile__nav--inner">

  </div>
</div>

<div class="forum">
  <div class="forum__inner">

    <div class="forum__card forum__nav">
      <div class="forum__nav--inner">
        {{input class="global__input" type="text" name="name" placeholder="Search"}}
        <div class="">
          {{#link-to "app.forum" class="forum__nav--item"}}Stories{{/link-to}}
          {{#link-to "app.resources" class="forum__nav--item"}}Resources{{/link-to}}
          {{#link-to "interviews" class="forum__nav--item"}}Interviews{{/link-to}}
          {{#link-to "app.jobs" class="forum__nav--item"}}Jobs{{/link-to}}
          <h1 class="forum__nav--item">My Likes</h1>
          {{#link-to "app.profile" class="forum__nav--item"}}My Profile{{/link-to}}
        </div>
        <div class="box__2">
          {{#link-to "index" class="forum__nav--item"}}Logout{{/link-to}}
        </div>
      </div>
    </div>

    <div class="forum__card forum__main">
      <div class="forum__main--inner">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
