{{outlet}}
<nav class="nav">
  <div class="nav__inner">
    <ul class="nav__content">
      <li class="nav__item">Logo</li>
      <li class="nav__item">Interviews</li>
      <li class="nav__item">About</li>
      <button type="nav__btn">Login</button>
    </ul>
  </div>
</nav>
{{outlet}}
<footer class="container">
  <div class="container__inner">
    <ul class="footer__list">
      <li class="footer__list--item">Coded and designed by Peter Court</li>
      <li class="footer__list--item">Built with Ember. Hosted on Surge. Using SASS with BEM syntax.</li>
    </ul>
  </div>
</footer>
