<body class="site">
  <nav class="nav">
    <div class="column is-10">
      <div class="nav__inner">
        <ul class="nav__content">
          <div class="nav__left">
            <img src="./images/nav/logo.svg" class="nav__item nav__logo" alt="Junior Logo" />
          </div>
          <div class="nav__right">
            <li class="nav__item">Interviews</li>
            <li class="nav__item">About</li>
            <a href="/login"><button class="cta-btn" type="button">Login</button></a>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <main class="site__content">
    <div class="column is-10">
      {{outlet}}
    </div>
  </main>
  <footer class="footer">
    <div class="column is-10">
      <div class="footer__inner">
        <ul class="footer__content">
          <li class="footer__item">© Hello Junior 2016</li>
        </ul>
      </div>
    </div>
  </footer>
</body>
