{{outlet}}
<nav class="nav">
  <div class="nav__inner">
    <ul class="nav__content">
      <div class="nav__left">
        <img src="./images/nav/logo.svg" class="nav__item nav__logo" alt="Junior Logo" />
      </div>
      <div class="nav__right">
        <li class="nav__item">Interviews</li>
        <li class="nav__item">About</li>
        <button class="nav__btn" type="button">Login</button>
      </div>
    </ul>
  </div>
</nav>
{{outlet}}
<footer class="footer">
  <div class="footer__inner">
    <ul class="footer__content">
      <li class="footer__item">Coded and designed by Peter Court</li>
      <li class="footer__item">Built with Ember. Hosted on Surge. Using SASS with BEM syntax.</li>
    </ul>
  </div>
</footer>
