{{outlet}}
<div class="forum__main--top">
  <h1 class="global__h3 forum__post--title">Today's Top Resources</h1>
  {{#link-to 'app.resources.new-resource' class="cancel-btn" }}Add New Resource{{/link-to}}
</div>

<div class="forum__post">
  <div class="forum__post--inner">
    <div class="forum__post--group">
      <div class="forum__post--left">
        <div class="forum__post--img--box">
          <img src="/images/forum/C.png" alt="" class="forum__post--img">
        </div>
        <div class="forum__post--user">
          <p class="forum__post--name">Javascript for Beginners</p>
        </div>
      </div>
      <div class="forum__post--middle">
        {{#link-to 'app.forum.thread' 1 class="forum__post--question" }}Learn Javascript in just 3 days!{{/link-to}}
      </div>
      <div class="forum__post--right">
        <p class="forum__post--comment">5 Comments</p>
      </div>
      <div class="forum__post--heart">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<div class="forum__post">
  <div class="forum__post--inner">
    <div class="forum__post--group">
      <div class="forum__post--left">
        <div class="forum__post--img--box">
          <img src="/images/forum/J.png" alt="" class="forum__post--img">
        </div>
        <div class="forum__post--user">
          <p class="forum__post--name">Sketch App Resources</p>
        </div>
      </div>
      <div class="forum__post--middle">
        {{#link-to 'app.forum.thread' 1 class="forum__post--question" }}A bunch of really helpful Sketch resources.{{/link-to}}
      </div>
      <div class="forum__post--right">
        <p class="forum__post--comment">145 Comments</p>
      </div>
      <div class="forum__post--heart">
        <i class="fa fa-heart red" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
