{{outlet}}
<div class="brand">
  <div class="brand__inner">
    <div class="brand__content">
      <div class="brand__colors">
        <h1 class="global__h1">Colors</h1>
        <div class="brand__colors--box">
          <div class="brand__square">
            <div class="brand__square--one"></div>
            <div class="brand__square--two"></div>
            <div class="brand__square--three"></div>
            <div class="brand__square--four"></div>
          </div>
          <div class="brand__names">
            <h2 class="brand__color">Grey</h2>
            <ul>
              <li>#F8F8F8</li>
              <li>#F1F1F1</li>
              <li>#DDDDDD</li>
              <li>#BBBBBB</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
