{{outlet}}
<div class="form__input">
  <div class="form__input--inner">
    <div class="form__input--card">
      {{#simple-form onsubmit=(action "forgot") as |inputs|}}
        <div class="form__input--card--input">
          <div class="box__1">
          <h1 class="form--title">Password Reset</h1>
        </div>
          {{input class="form__input--card--input--item" type="text" name="name" value=inputs.email placeholder="Email associated with account"}}
          {{input class="form__input--card--input--item" type="password" name="name" value=inputs.password placeholder="Username"}}
          <div class="box__2">
            <button class="submit-btn form--btn" type="submit" name="button">Reset Password</button>
          </div>
        </div>
        <div class="login--container">
          {{#link-to 'login' class="form--sub" }}Login{{/link-to}}
          {{#link-to 'signup' class="form--sub" }}Create a new account{{/link-to}}
        </div>
      {{/simple-form}}
    </div>
  </div>
</div>
