{{outlet}}
<div class="form">
  <div class="form__inner">
    <div class="form__card">
      {{#simple-form onsubmit=(action "login") as |inputs|}}
        <div class="form__container--input">
          <div class="box__1">
          <h1 class="global__h2 form__title">Login</h1>
        </div>
          {{input class="global__input" type="text" name="name" value=inputs.username placeholder="Username"}}
          {{input class="global__input" type="password" name="name" value=inputs.password placeholder="Password"}}
          <div class="box__2">
            <button class="submit-btn login-btn" type="submit" name="button">Login</button>
          </div>
        </div>
        <div class="form__container--btn login-items">
          {{#link-to 'forgot' class="form__sub space-half" }}Forgot Password?{{/link-to}}
          {{#link-to 'signup' class="form__sub space-half" }}Create a new account{{/link-to}}
        </div>
      {{/simple-form}}
    </div>
  </div>
</div>
