{{outlet}}
<div class="login">
  <div class="login__inner">
    <div class="login__container">
      <input class="global__input" type="text" name="name" value="" placeholder="Username or Email">
      <input class="global__input" type="text" name="name" value="" placeholder="Password">
    </div>
    <div class="button__container">
      <button class="cancel-btn" type="button" name="button">Create New Account</button>
      <button class="submit-btn" type="button" name="button">Sign In</button>
    </div>
  </div>
</div>
