{{outlet}}
<div class="box">
  <div class="box__inner">
    <div class="input__box">
      <input class="input" type="text" name="name" value="" placeholder="Username or Email">
      <input class="input" type="text" name="name" value="" placeholder="Password">
    </div>
    <div class="button__box">
      <button class="cancel-btn" type="button" name="button">Create New Account</button>
      <button class="submit-btn" type="button" name="button">Sign In</button>
    </div>
  </div>
</div>
