{{outlet}}
<div class="login">
  <div class="login__inner">
    <div class="wrap">
      <div class="title__box">
        <h1 class="login__title">Create An Account</h1>
      </div>
      {{#simple-form onsubmit=(action "signUp") as |inputs|}}
        <div class="login__content">
          <div class="login__container">
            {{input class="global__input" type="text" name="name" value=inputs.email placeholder="Email"}} {{input class="global__input" type="text" name="name" value=inputs.username placeholder="Username"}} {{input class="global__input" type="password" name="name"
            value=inputs.password placeholder="Password"}}
            <a href="/login" class="">Forgot Password?</a>
          </div>
        </div>
        <div class="button__container">
          <a href="/login" class="cancel-btn">Login</a>
          <button class="submit-btn" type="submit" name="button">Sign Up</button>
        </div>
      {{/simple-form}}
    </div>
  </div>
</div>
