<div class="forum__main--top">
  <h1 class="global__h3 forum__post--title">Does anyone have a connection at Google?</h1>
  {{#link-to 'app.forum' class="cancel-btn" }}New Post{{/link-to}}
</div>

<div class="forum__post">
  <div class="forum__post--inner">
    <div class="forum__post--group">
      <div class="forum__post--left">
        <div class="forum__post--img--box">
          <img src="/images/forum/C.png" alt="" class="forum__post--img">
        </div>
        <div class="forum__post--user">
          <p class="forum__post--name">Cale Glendening</p>
        </div>
      </div>
      <div class="forum__post--middle">
        {{#link-to 'app.forum.thread' 1 class="forum__post--question" }}I'm looking for some help with a project and need to reach out to someone on the design team.{{/link-to}}
      </div>
      <div class="forum__post--right">
        <p class="forum__post--comment">Posted August 25</p>
      </div>
      <div class="forum__post--heart">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
    </div>
    {{#simple-form onsubmit=(action "addComment") as |inputs| }}
      <div class="forum__post">
        <div class="">
          {{textarea class="global__textarea" type="text" name="name" value=inputs.educationalBackground placeholder="Add a comment"}}
        </div>
        <div class="">
          <button class="submit-btn" type="submit" name="button">Post Comment</button>
        </div>
      </div>
    {{/simple-form}}
  </div>
</div>

<div class="forum__post">
  <div class="forum__post--inner">
    <div class="forum__post--group">
      <div class="forum__post--left">
        <div class="forum__post--img--box">
          <img src="/images/forum/J.png" alt="" class="forum__post--img">
        </div>
        <div class="forum__post--user">
          <p class="forum__post--name">Jeremy Browning</p>
        </div>
      </div>
      <div class="forum__post--middle">
        {{#link-to 'app.forum.thread' 1 class="forum__post--question" }}I'm a designer in the NYC office, let me know what you need!{{/link-to}}
      </div>
      <div class="forum__post--right">
        <p class="forum__post--comment">Posted August 25</p>
      </div>
      <div class="forum__post--heart">
        <i class="fa fa-heart red" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
