@media screen and (min-width: 76rem) and (max-width: 300rem) {
  // DESKTOP
  .mobile__only {
    display: none;
  }

  .mt {
    display: none;
  }

  .index__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .index__header {
    font-size: 20px;
  }

  .index__circle {
    font-size: 30px;
    color: $red;
  }
  // BODY
  .index__post {
    background: $white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    max-width: 80rem;
  }

  .index__post--inner {
    padding: 0.25rem;
  }

  .index__post--wrapper {
    display: flex;
    align-items: center;
  }
  // USER
  .user {
    display: flex;
    align-items: center;
    width: 40%;
  }

  .img__box {}

  .user__img {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
  }

  .username {
    font-size: 18px;
  }

  .username__box {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }

  .post__box {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 1rem;
  }

  .post__title {
    font-size: 18px;
    color: $black;
  }

  .second__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }

  .comment__box {
    }

  .comment {
    color: $grey-three;
    font-size: 18px;
  }

  .icon__box {
    padding: 0 2rem;
  }

  .heart {
    color: $grey-two;
  }

  .fa-angle-left {
    font-size: 30px;
  }
}

.user-bubble {
  display: flex;
  flex-wrap: wrap;
}
.user-btn {
  border: 0;
  background: #EEEEEE;
  color: $black;
  font-size: 18px;
  font-family: "europa",sans-serif;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  outline: none;
  padding: 0.75rem 1rem;

  &:active, &:hover, &--active {
    background: $red;
    color: $white;
  }

  &:disabled {
    background: #EEEEEE;
    color: $black;
    opacity: 0.5;
  }

  &--active:disabled {
    background: $red;
    color: $white;
    opacity: 1;
  }
}
