@media screen and (min-width: 45rem) and (max-width: 300rem) {

  // POST CARD
  .index__post {
    background: $white;
    border-bottom: 2px solid $grey-one;
  }

  .index__post--inner {
    padding: 0.75rem 0;
  }

  .index__post--wrapper {
    display: flex;
  }

  // USER
  .img__box {
    padding-right: 1rem;
  }
  .user__img {
    object-fit: cover;
    // width: 3rem;
    // height: 3rem;
    // min-width: 3rem;
    border-radius: 50%;
  }

  .username {
    font-size: 14px;
    font-family: "soleil",sans-serif;
    font-weight: 300;
    color: $black;
  }

  .username__box {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }

  .post__box {
    width: 100%;
  }

  .post__title {
    font-size: 15px;
    font-family: "soleil",sans-serif;
    font-weight: 500;
    color: $black;
  }

  .second__line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
  }

  .comment__box {
    width: 67%;
  }

  .comment {
    color: $black;
    font-size: 15px;
    font-family: "soleil",sans-serif;
    font-weight: 400;
  }

  .post__tit {
    font-size: 30px;
    width: 100%;
    font-family: "soleil",sans-serif;
    font-weight: 600;
    color: $black;
  }

  .learning {
    font-size: 14px;
    font-family: "soleil",sans-serif;
    font-weight: 300;
    color: $grey-four;
  }

  .group {
    display: flex;
  }

  .date {
    color: $grey-four;
    font-size: 13px;
  }

  .sort {
    display: flex;
    padding: 1rem 0;

    &--item {
      color: $grey-four;
      margin-right: 1rem;
    }
    &--item:hover {
      color: $black;
    }
  }

  .category__box {
    width: 20%;
    display: flex;
    align-items: center;
  }
  .category {
    border-radius: 50%;
	  width: 0.60rem;
	  height: 0.60rem;
    max-width: 0.60rem;
    max-height: 0.60rem;
    background: $red;
  }

  .delete {
    cursor: pointer;
  }

  .menu-btn {
    display: none;
  }

  .mobile--search {
    display: none;
  }

  .search--form-m {
    display: none;
  }

  .forum__inner {
    padding-top: 1rem;
  }

  .column.is-8 {
    width: 100%;
    max-width: 60rem;
  }
}
