{{outlet}}
<div class="post">
  <div class="post__inner">
    <div class="post__content">
      <div class="post__top">
        <div class="post__top--content">
          <h1 class="post__category">Posting Date</h1>
          <h1 class="post__category">Title</h1>
          <h1 class="post__category">Category</h1>
        </div>
      </div>
      <div class="post__bottom">
        <div class="post__bottom--content">
          <h1 class="global__h2">The Opportunity</h1>
          <h2 class="global__h5">Etsy is looking for a Product Designer to join their fast growing team. They are looking for someone eager to learn and grow as a designer. Mentorship, career growth and Friday team outings are some of the perks.</h2>
          <h1 class="global__h2">What We Look For</h1>
          <h2 class="global__h5">We are looking for someone who is dependable, an extremely hard worker, and is eager to admit mistakes and learn from them. You should have a portfolio and be able to walk us through your past work. We would rather take someone with less experience and more grit and tenacity then someone with more experience interested in coasting into their next design role.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
