{{outlet}}
<div class="post">
  <div class="post__inner">
    <div class="post__content">
      <div class="post__top">
        <div class="post__top--content">
          <h1 class="global__h3">1-2 Years Experience</h1>
          <h1 class="global__h3">Etsy</h1>
          {{#link-to 'signup' class="form__sub space-half" }}I'm Interested!{{/link-to}}
        </div>
      </div>
      <div class="post__middle">
        <div class="post__middle--content">
          <h1 class="global__h5"><i class="fa fa-clock-o" aria-hidden="true"></i> Full-Time</h1>
          <h1 class="global__h5"><i class="fa fa-code" aria-hidden="true"></i> Development</h1>
          <h1 class="global__h5"><i class="fa fa-building-o" aria-hidden="true"></i> Brooklyn</h1>
        </div>
      </div>
      <div class="post__bottom">
        <div class="post__bottom--content">
          <div class="box__2">
            <h1 class="global__h3 bold">The Opportunity</h1>
            <h2 class="global__h4">Etsy is looking for a Product Designer to join their fast growing team. They are looking for someone eager to learn and grow as a designer. Mentorship, career growth and Friday team outings are some of the perks.</h2>
          </div>
          <div class="box__2">
            <h1 class="global__h3 bold">What We Look For</h1>
            <h2 class="global__h4">We are looking for someone who is dependable, an extremely hard worker, and is eager to admit mistakes and learn from them. You should have a portfolio and be able to walk us through your past work. We would rather take someone with less experience and more grit and tenacity then someone with more experience interested in coasting into their next design role.</h2>
          </div>
          <div class="box__2">
            <h2 class="global__h4">Date Posted: August 2, 2016</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
